<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and Conditions</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
  </head>
  <style>
    ::selection {
      background-color: rgb(220, 220, 220);
      color: #1463f3;
    }
  </style>
  <body class="font-sora bg-dark text-moon p-10 tracking-wide">
    <!-- header -->
    <header>
      <div class="border-b border-lava pb-10">
        <p class="text-4xl font-medium text-moon tracking-wide text-center p-5">
          LuckySeven Website Terms of Use
        </p>
        <p class="text-lg font-normal text-moon text-center p-5 pb-0">
          Legal Information and Notices
        </p>
      </div>
    </header>
    <!-- content -->
    <main>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">1. Acceptance of Terms</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="">
            By using LuckySeven and our services, you agree to abide by these
            Terms and Conditions, as well as our Privacy Policy. If you do not
            agree with any part of these terms, you must not use our website or
            services.
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">2. Services Provided</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="">
            LuckySeven is an online platform where users can buy and sell
            pre-owned cars. We act as a marketplace for connecting buyers and
            sellers and are not directly involved in the sale or purchase of
            vehicles.
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">3 User Eligibility</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Age Requirement : </span
            ><span
              >Users must be at least 18 years old to register and use our
              services.</span
            >
          </p>
          <p>
            <span class="text-black font-medium text-sm"
              >Account Registration : </span
            ><span
              >To buy or sell on our platform, you may need to create an
              account. You are responsible for maintaining the confidentiality
              of your account information and for all activities that occur
              under your account.</span
            >
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">4. Listing Policy</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Accurate Information : </span
            ><span
              >Sellers must provide accurate, complete, and current information
              regarding the vehicle being listed, including but not limited to
              make, model, year, mileage, condition, and price.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm">Photos : </span
            ><span
              >Sellers are encouraged to upload clear photos that accurately
              represent the car's condition.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Prohibited Listings : </span
            ><span
              >Listings of stolen vehicles, counterfeit items, or any other
              unauthorized or illegal products are strictly prohibited.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Right to Refuse : </span
            ><span
              >We reserve the right to remove any listings that violate our
              policies or do not meet our quality standards.</span
            >
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">5. Buying and Selling Cars</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >No Guarantee of Sale : </span
            ><span
              >LuckySeven does not guarantee the sale of any listed
              vehicle.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm">Inspection : </span
            ><span
              >Buyers are responsible for inspecting the vehicle and verifying
              its condition before making a purchase. LuckySeven does not
              conduct inspections or certify the condition of any vehicle.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Pricing and Payments : </span
            ><span
              >All pricing and payment arrangements are negotiated between the
              buyer and seller. LuckySeven does not facilitate payments and is
              not responsible for payment disputes.</span
            >
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">6. User Responsibilities</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Compliance with Laws : </span
            ><span
              >Users must comply with all applicable local, state, and federal
              laws and regulations while using our website.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm">Conduct : </span
            ><span
              >Users are prohibited from engaging in abusive, deceptive, or
              fraudulent behavior. Users must not post defamatory, obscene, or
              offensive content.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Personal Information : </span
            ><span
              >Users should not share sensitive personal information, such as
              social security numbers or financial information, with other
              users. Use caution when communicating with others.</span
            >
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">7. Fees and Charges</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm">Listing Fees : </span
            ><span
              >Some services on our platform, such as premium listings, may be
              subject to fees. Any applicable fees will be clearly stated at the
              time of purchase.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Changes in Fees : </span
            ><span
              >We reserve the right to modify our fee structure at any time.
              Changes will be posted on our website and take effect immediately
              for new listings.</span
            >
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">
          8. Disclaimer and Limitation of Liability
        </p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >No Warranty on Vehicles : </span
            ><span
              >LuckySeven does not inspect, certify, or guarantee the quality,
              safety, or legality of any vehicles listed on our site. All
              vehicles are sold “as-is.”</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm">No Liability : </span
            ><span
              >LuckySeven is not responsible for any damages or losses resulting
              from the use of our website or services, including but not limited
              to misrepresentations by sellers, fraudulent transactions, or
              vehicle defects.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Indemnification : </span
            ><span
              >By using our services, you agree to indemnify and hold [Your
              Website Name] harmless from any claims, losses, damages, or
              expenses arising from your use of our site, including any disputes
              between buyers and sellers.</span
            >
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">9. Privacy Policy</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Data Collection : </span
            ><span
              >We collect and process personal information as outlined in our
              Privacy Policy. By using our site, you consent to our data
              collection practices.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Third-Party Sharing : </span
            ><span
              >We do not share personal information with third parties except as
              necessary to provide our services or comply with legal
              requirements.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Indemnification : </span
            ><span
              >By using our services, you agree to indemnify and hold [Your
              Website Name] harmless from any claims, losses, damages, or
              expenses arising from your use of our site, including any disputes
              between buyers and sellers.</span
            >
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">10. Intellectual Property</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Website Content : </span
            ><span
              >All content on LuckySeven, including text, images, logos, and
              design, is the property of LuckySeven and is protected by
              copyright and trademark laws.</span
            >
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm">User Content : </span
            ><span
              >By posting content on our site (e.g., car listings), you grant us
              a non-exclusive, royalty-free license to display, modify, and
              distribute your content as necessary to provide our
              services.</span
            >
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">11. Termination of Service</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Account Suspension :
            </span>
            <span>
              We reserve the right to suspend or terminate any user’s account at
              our discretion, including but not limited to violations of these
              Terms and Conditions or fraudulent activities.
            </span>
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Access to Services :
            </span>
            <span>
              We may modify, suspend, or discontinue any aspect of our services
              at any time without notice or liability. Users may lose access to
              certain features or be prevented from using the site if necessary.
            </span>
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">12. Dispute Resolution</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Buyer-Seller Disputes :
            </span>
            <span>
              Any disputes between buyers and sellers must be resolved directly
              between those parties. LuckySeven is not responsible for mediating
              disputes and shall not be held liable for any disputes arising
              between users.
            </span>
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm">Governing Law : </span>
            <span>
              These Terms and Conditions are governed by the laws of Singapore.
              Any legal disputes arising from the use of our website will be
              resolved in the courts of Singapore.
            </span>
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">
          13. Changes to Terms and Conditions
        </p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >Updates to Terms :
            </span>
            <span>
              We may update these Terms and Conditions at any time. Changes will
              take effect immediately when posted on our website. It is the
              user’s responsibility to review these terms periodically to stay
              informed of any updates.
            </span>
          </p>
          <p class="mb-3">
            <span class="text-black font-medium text-sm"
              >User Acceptance :
            </span>
            <span>
              Continued use of our services after any changes to the Terms and
              Conditions constitutes acceptance of those changes.
            </span>
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="my-7 mb-10">
        <!-- sub heading -->
        <p class="font-medium py-3 text-lava">14. Contact Us</p>
        <!-- terms text -->
        <div class="text-sm text-black font-light">
          <p class="mb-2">
            <span class="text-black font-medium text-sm"
              >Customer Support :
            </span>
            <span>
              If you have any questions, concerns, or require assistance
              regarding these Terms and Conditions, please feel free to contact
              our customer support team. We are here to help ensure that you
              have a smooth and satisfactory experience with LuckySeven.
            </span>
          </p>
          <p class="mb-2">
            <span class="text-black font-medium text-sm"
              >Contact Information :
            </span>
            <span>
              You can reach us at:
              <ul class="list-disc ml-6">
                <li class="mb-2">
                  Email:
                  <a href="mailto:admin@admin.com" class="text-lava"
                    >admin@admin.com</a
                  >
                </li>
                <li class="mb-2">
                  Phone:
                  <a href="tel:+1234567890" class="text-lava"
                    >(+65) 111 111 11</a
                  >
                </li>
                <li class="mb-2">Address: 461 Clementi Rd, Singapore 599491</li>
              </ul>
            </span>
          </p>
        </div>
      </div>
      <!-- text group -->
      <div class="border-t border-lava">
        <div class="my-3 text-center">
          <!-- sub heading -->
          <p class="font-medium py-4 text-lava">Acknowledgment</p>
          <!-- acknowledgment text -->
          <div class="text-sm text-black font-light">
            <p>
              By using LuckySeven, you acknowledge that you have read,
              understood, and agree to these
              <span class="font-medium">Terms and Conditions</span>.
            </p>
          </div>
        </div>
      </div>

      <!-- Back button at the bottom left -->
      <div class="flex justify-start mt-10">
        <a
          href="{{ url_for('UserLogin_app.login_page') }}"
          class="text-back hover:underline font-medium flex items-center"
        >
          &lt; Back
        </a>
      </div>

    </main>

    <footer></footer>
    <script src="./node_modules/preline/dist/preline.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
