<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Car Agent Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="font-sora bg-gray-100 h-screen">
    <header class="bg-stone-900 text-white py-4">
        <h1 class="text-center text-xl font-bold">Used Car Agent Dashboard</h1>
    </header>
    <button onclick="window.location.href='/Logout'">Logout</button>

    <section class="container mx-auto mt-8">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-2xl font-semibold text-stone-900 mb-4">Welcome, Used Car Agent!</h2>
            <p class="text-gray-700 mb-6">
                Manage car listings, view client requests, and track your activities.
            </p>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-8">
                <a href="/usedCarAgent/create_listing" class="block p-4 bg-stone-900 text-white text-center rounded-md hover:bg-stone-800">Add New Listing</a>
            </div>

            <!-- Listings Section -->
            <h3 class="text-xl font-semibold text-stone-900 mb-4">Your Car Listings</h3>
            {% if listings %}
                <div class="space-y-4">
                    {% for listing in listings %}
                        <div class="flex items-center border border-gray-300 rounded-lg p-4 bg-white shadow-md">
                            <img src="{{ listing.image_url }}" referrerpolicy="no-referrer" alt="{{ listing.name }} Image" class="w-24 h-24 pr-5 object-cover rounded-md mr-4">
                            <div>
                                <h4 class="text-lg font-bold text-stone-900">{{ listing.name }}</h4>
                                <p><span class="font-semibold">Model:</span> {{ listing.model }}</p>
                                <p><span class="font-semibold">Price:</span> {{ listing.price }}</p>
                                <p><span class="font-semibold">Seller:</span> {{ listing.seller_name }}</p>
                                <p><span class="font-semibold">Created At:</span> {{ listing.created_at.strftime('%Y-%m-%d') }}</p>
                                <a href="/usedCarAgent/viewListing/{{ listing.id }}" class="mt-2 inline-block text-stone-900 hover:text-stone-700">View Details</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-gray-700">No listings found. Start by creating a new listing!</p>
            {% endif %}
        </div>
    </section>
</body>
</html>
